* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000; /* Dark background color */
    color: #fff;
    height: 100vh;
}

header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 100;
    position: absolute;
    left: 142px;
    top: 62px;
}

.nav-menu {
    position: absolute;
    left: 310px;
    top: 69px;
    font-weight: 100;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 80px); /* Height excluding header */
    padding: 0 50px;
}

.hero-text {
    max-width: 45%;
    width: 416px;
    height: 44px;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ccc;
}

.hero-image {
    max-width: 45%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(100%);
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .hero-image {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }
}